# Ignorer tous les fichiers .log
*.log

#Ignorer le fichier .env
.env
test.php
test2.php

# Ignorer ces dossiers :
/Design
# /Documentation
/ECF
/Docker

# Ignorer node_modules :
# /node_modules
# /vendor/
/mysql-data/
# /init-scripts/
/Documentation/source
/app/Database/
/mongo-data/