
.adm{
    margin-top: 40px;
    h1{
        text-align: center;
    }
}
#admForm {
    background-color: $light;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px #00000025;
    padding: 20px 20px;
}  

table{
    i{
        cursor: pointer;
        font-size : 1.5rem;
    }
    .hidden{
        display: none;
    }
}