h1{
    text-align: center;
}
.contents{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;

    .report{
        .search{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
    
            .myButtonAdd{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: $secondary;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 4px 4px #00000025;
                margin-top: 20px;
            
                .bi-clipboard-plus{
                    font-size: 30px;
                    color: white;
                }
            }
        }
    }
    
    .vet-report{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        border: 1px solid $dark;
        border-radius: 30px;
        margin-bottom: 20px;

        background-color: $light;

    
        .animal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
    
            .bloc-img-animal{
                margin-top: 20px;
                width: 150px;
                height: 150px;
                .img-animal{
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    box-shadow: 0 4px 4px #00000025;
                    object-fit: cover;
                }
                span{
                    margin-left: -34px;
                    margin-top: 16px;
                    box-shadow: 0 4px 4px #00000025;
                }
            }
        }
        .group{
            width: 100%;
            border: 1px solid $dark;
            border-radius: 12px;
            margin-bottom: 20px;
            padding: 10px;
            position: relative;
            h3{
                position: absolute;
                top: -12px;
                left: 15px;
                background-color: $dark;
                font-size:medium;
                padding: 2px 8px 2px 8px;
                border-radius: 5px;
                color: white;
            }
            .first{
                margin-top: 10px;
            }
            .stars{
                text-align: center;
                .star {
                    font-size: 40px;
                    cursor: pointer;
                    background-color: #565656;
                    color: transparent;
                    text-shadow: 0px 1px 1px #fffdba;
                    -webkit-background-clip: text;
                       -moz-background-clip: text;
                            background-clip: text;
                    transition: color 0.1s ease-in-out
                }
                .star.selected {
                    color: #fff500;
                    text-shadow: 0px 1px 1px #565656;
                }
            }
        }
    }
}
